#portfolioHeader
{
    height: 15%;
}

#portfolioBody
{
    height: 70%;
}

#portfolioFooter
{
    height: 15%;
}

.PageLayout
{
<<<<<<< HEAD
    background-color:#4B5751;
}

body
{
    background-color: #11211F;
}